<p></p>
<button data-test="plusBtn" (click)="inscrease()" *ngIf="isSmallerOrEqualThanTen()" nz-button nzType="primary">+</button>
&nbsp;
<span data-test="displayCount" [ngClass]="{'green': !isGreaterOrEqualThanZero()}" [ngClass]="{'red': !isSmallerOrEqualThanTen()}">number: {{counter.count}}</span>
&nbsp;
<button data-test="minusBtn" (click)="decrease()" *ngIf="isGreaterOrEqualThanZero()"nz-button nzType="primary">-</button>
&nbsp;
<button data-test="resetBtn" (click)="reset()" nz-button nzType="primary">reset</button>